---
import { getExperiences } from '../lib/experiences';

const experiences = getExperiences();

const formatDate = (dateString: string) => {
  const date = new Date(dateString);
//   const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const year = date.getFullYear();
  return `${month}/${year}`;
};
---
<section id="experiencia">
    <h2>Experiencia Profesional</h2>
    <ul>
        {experiences.map((experience: any) => 
            <li>
                {formatDate(experience.frontmatter.date.start)} -
                {formatDate(experience.frontmatter.date.finish)}
                <a href={experience.url}>
                    {experience.frontmatter.company}
                </a>
            </li>)            
        }
    </ul>
</section>
